[package]
name = "calimero-quickjs-shim"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
calimero-sdk = { path = "../../../../core/crates/sdk" }
calimero-sys = { path = "../../../../core/crates/sys" }

[profile.release]
opt-level = "z"     # Optimize for size
lto = true
codegen-units = 1
panic = "abort"
strip = true

